@import '../../../styles/helpers/variables';
@import '../../../styles/helpers/mixins';

.header {
  position:sticky;
  top: 0;
  left: 0;
  @include theme;
}

.visible {
  transform: translateY(0%);
  transition-property: transform;
  transition-duration: 0.5s;
}

.hidden {
  transform: translateY(-100%);
  transition-property: transform;
  transition-duration: 0.5s;
}

.logo {
  width: 120px;
}
