@import '../helpers/mixins';

.search-main {
  padding-top:5rem;
  padding-bottom: 5rem;
  @include theme;

  h2 {
    padding-bottom: 4rem;
  }

  button {
    background-color: $light-blue;

    &:hover {
      background-color: $light-blue;
      color: black;
    }
  }
}