@import "../../../styles/helpers/variables";


.result-elem {
  border-radius: 10px;
  border: 2px solid $light-gray;
}

.logo-wrapper {
  width: 92px;
  height: 138px;
  border-radius: 10px 0 0 10px;
}

.data-wrapper {
  padding: 15px 15px 0 15px;
}