@import "../../../styles/helpers/variables";

.statistics-wrapper {
  width: 260px;
}

.statistics {
  border-radius: 10px;
  border: 2px solid $light-gray;
  
  h6 {
    border-radius: 10px 10px 0 0;
    background-color: $light-blue;
  }
}

.category:hover {
  background-color: $light-gray;

  .category-count {
    background-color: white;
  }
}

.category-count {
  background-color: $light-gray;
  padding: 0 10px;
  border-radius: 5px;
}

.primary {
  background-color: $light-gray;

  .category-name {
    font-weight: bold;
  }

  .category-count {
    background-color: white;
  }
}

.result-elem {
  height: 170px;
  border-radius: 10px;
  border: 2px solid $light-gray;
}

.logo-wrapper {
  width: 92px;
  height: 138px;
  border-radius: 10px 0 0 10px;
}

.data-wrapper {
  padding: 15px;
}

.photo {
  width: 92px;
  height: 92px;
  border-radius: 10px;
}

