.gallery {
  display: flex;
  flex-wrap: nowrap;

  > div {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.shadow-inner {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 4rem;
    background-image: linear-gradient(to right, transparent 93%, white);
  }
}

.hide-scrollbar-y {
  overflow-y: hidden;
}