.search-main {
  position: relative;
  padding-top:5rem;
  padding-bottom: 5rem;
  @include theme;

  &::before {
    position: absolute;
    top: -100px;
    left: 0;
    content: '';
    width: 100%;
    height: 100px;
    background-color: $dark-blue;
  }

  h2 {
    padding-bottom: 4rem;
  }

  button {
    background-color: $light-blue;

    &:hover {
      background-color: $light-blue;
      color: black;
    }
  }
}